[2015-03-30 20:37] troydai opened #4 "Adding mechanism to validate samples before performance run"

[2015-03-31 18:01] troydai opened #7 "Add Kestrel to all web based start up tests."

[2015-04-01 15:17] troydai commented on #7
391eb4178bb808608da2c88daf95e5902bebd727

[2015-04-01 15:17] #7 closed

[2015-04-07 20:28] troydai commented on #4
/cc @muratg @glennc @davidfowl  I plan to do it in beta5.

[2015-12-01 22:15] troydai opened #10 "Update the startup tests to use latest product packages."

[2015-12-08 19:28] troydai commented on #10
Fixed in ced524880c72c210120366541fe93441e6bbbecf

[2015-12-08 19:28] #10 closed

[2016-01-12 17:44] victorhurdugaci opened #16 "ch"

[2016-01-12 17:44] #16 closed

[2016-01-12 17:45] victorhurdugaci opened #17 "Change to build to use dotnet"
At a minimum, you have to upgrade a few scripts and project.json files just like here: aspnet/Configuration@9cfd22f

cc @NTaylorMullen

[2016-01-30 01:27] SajayAntony opened #27 "Add the workload tests for Reliability and performance coverage"
@rynowak has a set of tests which is being used to catch a large number of issues in MVC. We need to ensure that the Performance Repo has those scenarios and going forward becomes the repo which will enable running performance and reliability tests on difference environments.

[2016-02-01 22:32] SajayAntony opened #28 "Implement the TechEmpower Benchmarks"
We currently don't have ASPNET Core running on the TechEmpower benchmarks. This needs to be implemented.

[2016-02-01 22:56] muratg commented on #28
https://github.com/aspnet/Benchmarks could be a good starting point. Make sure to sync up with @DamianEdwards too as he has a lot of context on this.

[2016-02-02 19:19] #27 closed

[2016-02-02 19:19] rynowak commented on #27
Done

[2016-02-02 19:51] troydai opened #29 "Remove the requirement of LocalDB for local performance run"
When user try to run local run to validate if the tests are functional the database shouldn't be essential. The requirement of having a database locally is a burden to some developing environment. It should allow alternative reporting mechanism like a local csv/xml/json result file.

[2016-02-03 07:19] SajayAntony opened #30 "Implement a stress test to harden Kestrel on Linux"
This mixture which will be just one test running for 1 hour and once we have confidence in this, will move on to a longer duration.

We want to track different metrics like - Memory/Latency distribution for a particular operation with the follow mix.

    1. 15 routes.
    2. Verbs in different ratios – GET/PUT [3:1]
    3. Payloads in different ratios 500Bytes/2KB/500KB [10:5:1]

* No-auth middle

[2016-02-04 01:08] DavidObando opened #31 "DnxHelper.Restore fails when global nuget config has sources that require authentication"
DnxHelper.Restore must control which sources are used by providing its own location for a nuget.config, or by somehow being resilient to HTTP 401 errors caused by unauthorized access.
For example, I had a personal, private VSO package source in my global nuget.config. So far this hasn't been an issue anywhere else in my development pipeline.

The issue is reproducible with just adding a VSO packag

[2016-02-04 01:20] DavidObando opened #32 "Automatic install of repository dependencies"
The performance tests depend on bower and gulp but there's no evidence of these dependencies being installed by the build process or the test run process. Both bower and gulp are installed via npm, which makes npm another dependency.

We need to list these and any other dependencies and automate their installation.

Note that in my system I got a lot of errors because I didn't have gulp or bower,

[2016-02-04 01:24] DavidObando opened #33 "Build using a CI and add a build health badge to README.md"
Consider using Travis (like [Entity Framework](https://github.com/aspnet/EntityFramework)) or Jenkins (like [cli](https://github.com/dotnet/cli)). We should keep a very high quality bar on the health status of this repository.

[2016-02-04 19:11] moozzyk commented on #31
Can you use a solution NuGet.Config and clear the sources? Something like this: https://github.com/aspnet/Universe/blob/dev/build-template-dotnet/NuGet.master.config#L4

[2016-02-04 19:41] DavidObando commented on #31
When this showed up I corrected the situation by command prompt:
[code]

You can repro this problem by opening a command line window and typing
[code]
Followed by cd to this repo, git clean -xdf, git pull, .\build.cmd.

The situation at hand is that I do use that source for other things in my daily dev tasks, and I anticipate people will run into the same scenario.

Our DnxHelper.Restore functiona

[2016-02-04 21:10] Eilon commented on #33
I can enable Travis and AppVeyor for this repo if needed - but they can't write to the repo, they are read-only. Our internal CI can push updates/status/reports to somewhere (but probably not the README.md file, as it will generate a lot of noise).

[2016-02-04 21:11] Eilon commented on #33
Or we can use the badges like we do in all the other repos (see the readme of any other repo).

[2016-02-04 21:12] DavidObando commented on #33
Yup, the badges is what I had in mind. Sorry for not being more specific.

[2016-02-04 21:33] Eilon commented on #33
Ah ok. I'll enable Travis and AppVeyor.

[2016-02-04 21:46] Eilon commented on #33
Re-opening because all I did was *enable* Travis and AppVeyor. We need to actually have scripts here to run them, e.g. https://github.com/aspnet/Mvc/blob/dev/appveyor.yml and https://github.com/aspnet/Mvc/blob/dev/.travis.yml.

[2016-02-04 21:46] DavidObando commented on #33
Thanks sir!

[2016-02-05 17:47] SajayAntony commented on #32
I noticed this too.
Could you append this info to the Readme and send out a PR with murat as CC.
@muratg

[2016-02-05 19:07] muratg commented on #32
:+1:

[2016-02-08 18:14] DavidObando opened #38 "Replace raw Sql with Entity Framework"
There's a number of points in the code, both in the dashboard and in the benchmarks, where we talk to the performance results storage with raw Sql.

We need to move this code to use Entity Framework, using the same schema, as a first step to help make these tests run in multiple platforms.

This will also make it a lot easier to resolve item #29.

[2016-02-08 23:45] DavidObando opened #40 "Investigate: StarterMvc.Clr.DotnetPublish gets stuck"
When executing .\build.cmd I'm seeing, consistently, that dnx.exe lowers its CPU load (however, never to less than 3% CPU) and gets stuck there indefinitely until killed, resulting in a test failure. This looks like some sort of lock.

I attached a debugger and saw a number of threads waiting (including one waiting on a System.Data call). I haven't figured out the source of the issue yet.

I sugge

[2016-02-09 18:47] DavidObando commented on #40
This may be a dnx issue. De-prioritize but don't close. Verify if the issue persists after our move to CLI.

[2016-02-09 20:15] SajayAntony commented on #4
@troydai @muratg do you see value in this at this point? I guess we could just close this for now.
What do you guys think?

[2016-02-09 20:19] SajayAntony commented on #31
@DavidObando Is there a way for the repo nuget config to only have the ones it needs?

[2016-02-09 20:21] DavidObando commented on #31
@SajayAntony good idea, it should be doable.

[2016-02-09 20:52] DavidObando opened #42 "Fix build break caused by absence of preserveCompilationContext"
After the move to CLI a lot of projects are failing to build with:
[code]
The fix is to set that flag to true in project.json in the compilationOptions node.

[2016-02-09 21:05] DavidObando commented on #42
This is caused by a CLI issue [dotnet/cli#1303](https://github.com/dotnet/cli/issues/1303). We can keep this bug for tracking purposes.

[2016-02-09 21:12] muratg commented on #4
Yeah, I think it's fine to close.

[2016-02-09 22:01] SajayAntony commented on #17
@JunTaoLuo Does this address cross plat and should I reopen this issue?
@muratg @DavidObando
[code]

[2016-02-09 22:19] JunTaoLuo commented on #17
@SajayAntony That looks like myget issues, I have not been able to reproduce this locally. I believe there are some issues with packages on the current feeds @pranavkm?

[2016-02-09 23:39] troydai commented on #4
I'll close this for now.

[2016-02-09 23:39] #4 closed

[2016-02-10 01:16] DavidObando opened #44 "Tracking bug of CLI issues affecting the Performance repository"
**PRI 1**
  * ~~dotnet/cli#1303 - blocks execution of performance tests when using CLI.~~
  * ~~dotnet/cli#1304 - blocks execution of performance tests and dashboard when using CLI.~~
  * ~~aspnet/Universe#384 - blocks package restore in non-Windows environments. (Also check dotnet/cli#1372)~~
  * ~~dotnet/coreclr#3101 - segfault during compile time in Ubuntu (dotnet has exit code 139)~~

**PRI 2*

[2016-02-10 17:09] SajayAntony commented on #17
@pranavkm @victorhurdugaci. @JunTaoLuo @muratg I'm reopening this since the cross plat is currently broken, we verified this on Pranav's machine yesterday.

[2016-02-10 17:12] SajayAntony commented on #17
@DavidObando @pranavkm we need to ensure that https://github.com/aspnet/Performance/tree/dev/testapp/HelloWorldMvc compiles cross plat

[2016-02-10 17:25] victorhurdugaci commented on #17
Is it broken on Linux or Mac? Or both?

[2016-02-10 17:26] SajayAntony commented on #17
I tried only on ubuntu 14.04. I haven't tried it on the mac yet.

[2016-02-10 17:28] victorhurdugaci commented on #17
@pranavkm is the download broken? Or the feed? Or what? From the log it looks like missing packages or myget issues

[2016-02-10 18:19] JunTaoLuo commented on #44
I've also ran into https://github.com/dotnet/cli/issues/1304

[2016-02-10 18:28] NTaylorMullen commented on #17
I was able to reproduce the failure on travis and on a local VM. Feed seems fine, local windows builds passing. Reprod it with the Razor repo. Example: https://travis-ci.org/aspnet/Razor/jobs/108303710

This seems like an issue with one of dotnetcli/nuget/coreclr.

[2016-02-10 18:29] JunTaoLuo commented on #42
Since you have #44 tracking this, consider closing as dup?

[2016-02-10 19:25] SajayAntony opened #46 "Setting up Lab hardware for Benchmarks"
The goal is to measure E2E scenarios and benchmark scenarios like TechEmpower on hardware comparable to those used by the TechEmpower benchmarks.

[2016-02-10 19:26] SajayAntony commented on #17
So is there a temporary work around for this?

[2016-02-10 19:28] NTaylorMullen commented on #17
@SajayAntony If you're able to upgrade your ubuntu environment to 15+ then you should be ok.

[2016-02-10 19:35] SajayAntony commented on #17
Wait isn't cli broken on 15? https://github.com/dotnet/cli/issues/308
Is there a specific version of the runtime+Coreclr that we can use on 14?

[2016-02-10 19:55] NTaylorMullen commented on #17
@pakrym was abel to run a dotnet build/test suite on some version of 15, he can fill in the gaps.

[2016-02-10 19:57] SajayAntony commented on #17
/cc @Eilon @muratg

[2016-02-10 21:26] muratg commented on #17
@NTaylorMullen would be pinging folks, current thinking is there's a CoreFX issue on that specific Ubuntu build.

[2016-02-10 23:46] DavidObando commented on #17
I noticed that if I run sh build.sh multiple times, it fails in different packages. The behavior is inconsistent.

[2016-02-11 01:55] DavidObando commented on #42
Closing as dup of #44.

[2016-02-11 01:55] #42 closed

[2016-02-11 02:04] #38 closed

[2016-02-11 19:42] muratg commented on #17
@NTaylorMullen Do we know if the new nuget works better? Was CLI able to consume it?

[2016-02-11 20:00] NTaylorMullen commented on #17
@muratg I don't believe they'ved pulled a new NuGEt yet. My understanding was that they're waiting for https://github.com/dotnet/cli/pull/1332 to go in.

[2016-02-11 21:05] DavidObando commented on #17
I also found that `dotnet restore -s https://myget.org/f/dotnet-core` produces a predictable behavior. With this source I'm able to generate a lock file, but the restore also fails to resolve a number of dependencies
[code]
So I added that source to NuGet.config and noticed the same error as before, but this time around only in those three packages listed above:
[code]
I decided to `curl` it and t

[2016-02-11 21:23] DavidObando commented on #17
Added dotnet/cli#1372 in case it wasn't logged before. I couldn't find anything like it.

[2016-02-11 22:44] NTaylorMullen commented on #17
@DavidObando if you do -s to the private feed (no redirect) is all well?

[2016-02-11 22:53] muratg commented on #44
@danroth27

[2016-02-11 22:58] DavidObando commented on #17
@NTaylorMullen yes, I tried -s'ing to the repos, same effect as having them in NuGet.config.

[2016-02-11 23:23] DavidObando opened #47 "Will *nix continue requiring mono in order to build?"
Just wondering if we have planned to remove this dependency.

[2016-02-11 23:28] moozzyk commented on #47
https://github.com/aspnet/Universe/issues/377

[2016-02-11 23:30] DavidObando commented on #47
:+1:

[2016-02-12 04:56] NTaylorMullen commented on #17
/cc @yishaigalatzer (last few comments)

[2016-02-12 05:21] yishaigalatzer commented on #17
The code is exactly the same for windows and Linux so I'm guessing there is an issue with http client because none of the cider is handling redirects directly. We need to involve the owners of http client.

We can probably build a simple repro in a console app.

[2016-02-12 06:20] SajayAntony commented on #17
@yishaigalatzer I'm including @davidsh.
This is currently blocking our perf/stress on linux at this point.

[2016-02-12 06:47] yishaigalatzer commented on #17
Thanks @sajayantony

[2016-02-12 15:03] davidsh commented on #17
Please open up a separate issue in the dotnet/corefx repo for HttpClient issues.  Since it x-plat (Linux) we will assign it to the x-plat team.  Can you provide a small repro to help diagnose? Thx.

[2016-02-12 15:41] yishaigalatzer commented on #17
@emgarten can you help track the repro we had before for this scenario?

[2016-02-12 18:16] NTaylorMullen commented on #17
@DavidObando since you were the one to discover the underlying issue would you mind filing an issue with your repo over at https://github.com/dotnet/corefx/issues?

[2016-02-12 18:38] DavidObando commented on #17
@NTaylorMullen will do.

[2016-02-12 21:16] DavidObando commented on #17
dotnet/corefx#6079

[2016-02-12 22:49] DavidObando commented on #17
This issue is caused by System.Net.Http.Native.so being linked against the wrong libcurl in builds up to 23808. Build 23809 of runtime.ubuntu.14.04-x64.runtime.native.System.Net.Http is the first build where things work as expected. I'm now working to see if upgrading the CLI to a build that uses the fixed System.Net.Http fixes `dotnet restore`.

[2016-02-13 00:58] DavidObando commented on #17
I confirmed that moving KoreBuild to pull a version of dotnet that contains fixed bits unblocks the `dotnet restore` issue. Added aspnet/Universe#384 to request an update to KoreBuild.sh.

[2016-02-13 01:09] emgarten commented on #17
@yishaigalatzer the network issues should be fixed once the latest version of nuget goes into the CLI.

[2016-02-13 01:11] DavidObando commented on #17
@emgarten actually nuget isn't involved. It's just System.Net.Http. Latest CLI works well.

[2016-02-16 18:41] DavidObando opened #50 "HelloWorldMvc returns 500s when run via CLI against full CLR"
**[Requires more investigation]**

HelloWorldMvc can be found under `testapp/HelloWorldMvc`. In order to reproduce this error do this:
  1. Restore the packages `dotnet restore`
  2. Build `dotnet build`
  3. Run under CLR Core `dotnet run --framework dnxcore50`
  4. Check that `http://localhost:5000/` prints the hello world message.
  5. Run under CLR `dotnet run --framework dnx451`
  6. Check th

[2016-02-17 00:19] DavidObando commented on #33
Hi @Eilon, can you check if Appveyor is enabled for the Performance repository? I get an error message: `Build not found or access denied`.

[2016-02-17 00:21] SajayAntony commented on #46
/cc @sivagms @nathana1 I would recommend adding a document describing the configuration and CPU specs etc similar to the benchmark repo.
https://github.com/aspnet/benchmarks#details-of-our-perf-lab

[2016-02-17 06:18] DavidObando commented on #32
@SajayAntony sent the PR for the documentation, but I'm leaving this bug open as automation for this is possible and not too expensive.

[2016-02-17 18:22] SajayAntony commented on #33
/cc @Eilon should @DavidObando  assign this to you for now?

[2016-02-17 18:37] SajayAntony opened #54 "Add MVCHelloWorld baseline using ASP.NET 4.6"
This is the currently available version of MVC for customer running on the full .NET framework.

[2016-02-17 20:13] mnltejaswini opened #57 "Memory Allocation Analysis for MVC TagHelpers for generating form"
Using BasicViews MVC app, collect the memory allocation profile for built in tag helpers to generate View that has form. Identify optimizations. Discussed with Ryan and Taylor and we prioritized the following items

1.  Reduce Allocations in Get Virtual Path that is used for URL generation in the TagHelpers
2. Understand and reduce the allocations in Create Model Expression  that is used for asp-f

[2016-02-17 20:15] DavidObando opened #58 "Implement a stress test for POST with large multipart forms"
We want to track different metrics like - Memory/Latency distribution for a particular operation with the follow mix.
[code]
  * No-auth middleware scenario initially and can be done as enhancements.
  * Small text part can be a simple JSON message
  * Payload must be generated dynamically, if possible. We don't want to check-in large files here, or depend on large blobs elsewhere.
  * If possible

[2016-02-17 21:37] Eilon commented on #33
I'll just take a look, no need to assign...

[2016-02-17 21:44] Eilon commented on #33
AppVeyor was definitely set up, so I'm not sure why it wasn't building PRs. I just forced AppVeyor to do a build on its own, maybe that'll wake it up or something...

[2016-02-17 22:11] dougbu commented on #57
FYI the Perf labels in [MVC](https://github.com/aspnet/Mvc/issues?q=is%3Aopen+is%3Aissue+label%3APerf) and [Razor](https://github.com/aspnet/Razor/issues?q=is%3Aopen+is%3Aissue+label%3APerf) contain issues found using this app and others (now) in this repo.

For example, the After picture for aspnet/Antiforgery#56 (the only issue in that repo with the Perf label) looks like:
![249a7442-d49c-11e5-8

[2016-02-17 23:05] DavidObando commented on #40
Fixed with aspnet/Performance@53682b2.

[2016-02-17 23:05] #40 closed

[2016-02-18 02:38] DavidObando commented on #33
Thanks @Eilon. I did see it running once after you forced it (it now reports a status and all), but it doesn't appear to be picking up changes.

[2016-02-18 03:55] SajayAntony commented on #57
@dougbu thanks. I'm consolidating this across all the repo's.

[2016-02-19 18:45] DavidObando commented on #29
Fixed with aspnet/Performance@6f0c556.

[2016-02-19 18:45] #29 closed

[2016-02-19 19:26] DavidObando opened #61 "Microbenchmarks hosting tests can't find httpapi.dll in OSX and Linux"
**This issue requires more investigation.**

The issue happens while executing the tests as part of the `build.sh` script. It's not confirmed whether this also affects Linux or not.

The issue is repeated for a large number of tests. The first one to blow up like this is:
[code]

Here's the console output:
[code]

[2016-02-19 19:43] DavidObando opened #62 "Microbenchmarks routing tests throw unexpected null reference exception"
**This issue requires more investigation.**

The issue happens while executing the tests as part of the `build.sh` script. It's confirmed to affect Windows and OSX. It's assumed to affect Linux too but we haven't confirmed.

Here's the observed exception and trace:
[code]

[2016-02-19 21:25] moozzyk commented on #61
I think WebListener is Windows specific and you should not run this variation when not on Windows...

[2016-02-19 21:34] DavidObando commented on #61
@moozzyk do you know who I can reach out to in order to learn how to not run variations on specific operating systems?

/cc @SajayAntony

[2016-02-19 21:43] moozzyk commented on #61
@DavidObando - I don't know this repo but maybe the attributes we use in other repos would work? (e.g. https://github.com/aspnet/dnx/blob/166d3e561f1c0094c72952765c00bc33e0a4c2d7/test/Microsoft.Dnx.Runtime.Tests/DependencyManagement/GacDependencyResolverFacts.cs#L18-L19)

[2016-02-19 22:21] SajayAntony commented on #61
@troydai @muratg - this test should not show up on non-windows platforms. I don't know if there is a property to determine this.

[2016-02-19 22:47] troydai commented on #61
/cc @NTaylorMullen

[2016-02-19 22:49] troydai commented on #61
@SajayAntony The `PlatformServices` can help to determine the current OS. An also @moozzyk pointed out a common approach to skip tests on a specific platform.

[2016-02-19 23:16] NTaylorMullen commented on #61
If this applies I'd definitely using something like the os skip condition that @moozzyk linked to.

[2016-02-19 23:59] DavidObando commented on #50
The fixes to dotnet/cli#1304 removed this situation. We're running again.

[2016-02-19 23:59] #50 closed

[2016-02-20 00:35] nathana1 commented on #54
Checked in here:
https://github.com/aspnet/Performance/commit/c556d8ce864c87f22f390a2e0750ebaac25a97b5

[2016-02-20 00:35] #54 closed

[2016-02-20 02:01] DavidObando opened #64 "Concurrency issue in benchmark result processor"
During a local build I saw this:

[code]

It's pretty obvious now that we didn't account for concurrent uses of the cached EF contexts. Working on a fix now.

[2016-02-20 18:38] DavidObando commented on #64
Fixed with 8a3685e.

[2016-02-20 18:38] #64 closed

[2016-02-22 20:59] Eilon commented on #33
I recreated the AppVeyor project but it seems to be a bit finicky at the moment. Let's give it another day or two.

[2016-02-23 01:45] sajayantony opened #68 "Music store perf/stress covering E2E scenarios"
The aim is to cover a large numbers of code paths, focusing on stress.
These items will be marked complete once we them validated and the commit done to this repo.
/cc @sivagms @martinpf
## Services
- [ ] ConfigBuilder
- [ ] EntityFramework (with SQL Server localdb)
- [ ] In Memory Caching
- [ ] CORS
- [ ] Session Management
- [ ] Static Files
- [ ] Authorization (user name / pwd) (uses UserManage

[2016-02-23 18:50] sajayantony opened #69 "Add baseline and benchmark for webapi."

[2016-02-23 22:38] SajayAntony commented on #69
/cc @DamianEdwards the benchmark repo might be a better place for this test. provided the webapi baseline has a home.

[2016-02-24 00:10] mnltejaswini commented on #57
Reduce Allocations in Get Virtual Path that is used for URL generation in the TagHelpers (A separate analysis will be done for the attribute routing. Currently these optimizations are applicable to the Path routing)
Optimizations in MVC repo
------------------------------------
1.Currently we create a new UrlHelper for every action URL that has to be resolved on a view. We will have single URL hel

[2016-02-24 22:52] DavidObando commented on #61
Solved with fff5171.

[2016-02-24 22:52] #61 closed

[2016-02-24 22:53] DavidObando commented on #62
This was fixed in aspnet/Mvc@5b805bb, I'm keeping this open until we can verify the fix. As of this writing the error is still present but we're going through some build hiccups.

[2016-02-25 00:51] DavidObando opened #74 "Check status of test Microsoft.AspNetCore.Tests.Throughput"
It seems to be outdated and not running during build. Check its validity, health and if viable enable to run with the other tests.

[2016-02-25 01:09] DavidObando commented on #33
Closing as resolved. AppVeyor is now running. It seems to be having trouble building but that may be expected at this point. I'll open a new issue if the builds don't pass when expected to.

[2016-02-25 01:09] #33 closed

[2016-02-25 01:52] mnltejaswini commented on #57
Pull request for Routing repo is merged and closed.
New pull request for MVC repo is https://github.com/aspnet/Mvc/pull/4151

[2016-02-25 03:30] SajayAntony commented on #74
Thanks for taking care of this. We need to have this running back again.
/cc @troydai do you why these stopped?

[2016-02-25 03:37] DavidObando commented on #62
Hey @pranavkm, should I be seeing this fix now? I'm still blocked.

/cc @SajayAntony

[2016-02-25 03:38] DavidObando commented on #58
Currently blocked by #62.

/cc @SajayAntony

[2016-02-25 04:04] pranavkm commented on #62
I guess my changes don't entirely address the issue. I'll re-open the work item to address the null ref. However the change would most likely be to throw an exception saying you have to set `preserveCompilationContext` for the application to work. In your case, you could either add that to the test application or alternatively replace the `IAssemblyProvider` with a `StaticAssemblyProvider` pointin

[2016-02-25 07:06] sajayantony opened #75 "Optimize Cold Start"
The cold start on linux is currently about 9.6 seconds on Linx and upto 10 seconds on windows
Here are a list of blocking issues that needs to be resolved to bring down the time for cold start
- [ ] Enable application crossgen on app publish
- [ ] Enable package cache crossgen
- [ ] Enable view precompilation.

/cc @davidfowl @brianrob @shhsu

[2016-02-25 07:10] davidfowl commented on #75
@SajayAntony Are you using DNX or the CLI?

[2016-02-25 07:57] troydai commented on #74
It is set to run 4 times per-day. I didn't make any changes to perf-teamcity2.

[2016-02-25 16:43] shhsu commented on #75
I am using cli

[2016-02-25 17:35] sajayantony opened #76 "Site density comparison requires MVC+IIS on CoreClr"
We currently measure v4.6 ASPNEt and standalone DNX. We need to include the scenario which involves IIS as well.

When reporting the numbers we need to consider the entire system memory as well.

[2016-02-25 20:49] SajayAntony commented on #62
@pranavkm what is the issue you are reopening to unblock this?

[2016-02-25 20:50] DavidObando commented on #62
@SajayAntony aspnet/Mvc#4136

[2016-02-25 20:50] SajayAntony commented on #47
Is this still the case?

[2016-02-25 20:51] SajayAntony commented on #30
@martinpf this is most likely coming your way and as we discussed we should be throwing this load at music store.

/cc @sivagms

[2016-02-25 21:59] Eilon commented on #33
@DavidObando ah ok good. Mark this as 3-Done then?

[2016-02-25 22:49] moozzyk commented on #47
This item can be closed. As per the related issue we want to continue to run tests on Mono so we can't remove this dependency.

[2016-02-25 22:50] #47 closed

[2016-02-25 22:52] SajayAntony commented on #58
As discussed we should be able to roll this upto MusicStore as an `Addon`

[2016-02-26 00:25] SajayAntony opened #77 "Add Site density MVC baseline app and documentation."

[2016-02-26 18:59] SajayAntony opened #79 "Analyze and Profile benchmark scenarios"
We need to collect profiles on our multi-socket machine to identify how this scales on a larger number of processors. This depends on first getting CPU saturation on the hardware after disabling processor groups.
Blocked by
 - [x] Processor groups does not allow CPU saturation - aspnet/KestrelHttpServer#650

[2016-02-26 19:36] mnltejaswini commented on #57
Attribute Routing
----------------------
TreeRouter.GenerateVirtualPath() has the following expression

var parameter = entry.Template.Parameters
 .FirstOrDefault(p => string.Equals(p.Name, kvp.Key, StringComparison.OrdinalIgnoreCase));

that is resulting in 3 allocations
 1. Delegate for FirstOrDefault (System.Func)
 2. Closure for TreeRouter
 3. Enumerator for Parameters
 This expression is used

[2016-02-26 23:19] #77 closed

[2016-02-29 22:12] #58 closed

[2016-02-29 23:09] DavidObando commented on #32
Note: investigate if this can be done by adding the dependencies to `dashboard\PerformanceDashboard\package.json`.

[2016-03-01 23:54] DavidObando commented on #44
We're no longer blocked by these. Closing.

[2016-03-01 23:54] #44 closed

[2016-03-01 23:56] JunTaoLuo commented on #17
Completed in #26

[2016-03-01 23:56] #17 closed

[2016-03-02 22:38] DavidObando opened #84 "Test RouteToAction is throwing an ArgumentNullException from DefaultAssemblyProvider"
**This issue requires more investigation**

Test `RouteToAction` is currently throwing an ArgumentNullException somewhere deep in the DefaultAssemblyProvider code. From a [previous comment](https://github.com/aspnet/Performance/issues/62#issuecomment-188600469), we're advised to replace the `IAssemblyProvider` with a `StaticAssemblyProvider` pointing to the current assembly, but we haven't done th

[2016-03-02 22:38] DavidObando commented on #62
This has been fixed. Current issue is unrelated (#84).

[2016-03-02 22:38] #62 closed

[2016-03-02 23:03] DavidObando opened #85 "DotnetPublish throws exception in Linux"
**This issue requires more investigation**

There's an issue, probably with the `Benchmarks.Utility` code, which causes an exception during execution of the DotnetPublish test.

[code]

[2016-03-03 01:40] SajayAntony commented on #85
@shhsu @brianrob is this the issue you guys hit today?

[2016-03-03 16:39] shhsu commented on #85
Looks different
There was an assembly not found exception with System.Reflection.Metadata
I was unable to repro on my asp-xhpc6

[2016-03-03 18:19] DavidObando commented on #85
@shhsu what OS were you using when you saw this? Is the error gone now?

[2016-03-03 18:24] shhsu commented on #85
Ubuntu 14.04
I was unable to repro the issue on an existing server asp-xhpc6 and a fresh linux installation from my hyper-v.
It might be something specific to that particular lab machine which I do not have access to currently.

[2016-03-07 18:06] sivagms opened #88 "Two hours into a reliability test run: The timeout period elapsed prior to obtaining a connection from the pool"
Scenario:
       Linux: Nginx + Core
       Windows: IIS + Core

       Server: Azure Standard A2 VM
       Client: Azure Standard A2 VM
       Server and Client in an Isolated Subnet

       Music Store Home Page with no cache - Every request goes to database
       SQL Azure Database - Standard S3  - Usage 10%

       Linux - 69 connections/sec
       Windows - 20 connections/sec

       500 vir

[2016-03-08 00:06] SajayAntony commented on #88
/cc @divega

[2016-03-10 06:59] SajayAntony opened #89 "[Doc] Connection Load Test does not indicate which is the target app that is being used."
Need to mention which is the server app that was used.
https://github.com/aspnet/Performance/tree/dev/test/Reliability/ConnectionLoadTest

The bursty load ubs also needs to update closing the connection only at after the sleep part in a single transaction.

[2016-03-10 07:01] #79 closed

[2016-03-10 07:03] SajayAntony commented on #69
Assigning to Nathan to light this up in the perf lab to compare with Netty.
Basically we want to see 2 things.

1. WebAPI returning json
2. MVC

[2016-03-10 07:04] SajayAntony commented on #46
Completed setup of TechEmpower equivalent setup as well as Cold start setup.

[2016-03-10 07:04] #46 closed

[2016-03-10 07:06] SajayAntony commented on #84
Has this been resolved?

[2016-03-10 07:07] SajayAntony commented on #85
@DavidObando  which test did you try to publish?

[2016-03-10 07:08] SajayAntony commented on #75
Identical hardware for windows and Linux has been setup for Cold Start. We are currently measuring on SSD's. Basically this will be used to track regressions as well.

[2016-03-10 14:48] DavidObando commented on #85
@SajayAntony It was the DotnetPublish_StarterMvc during `build.cmd`. It was preventing a clean build, but I haven't seen the travis log in a few days. I'll check it later today. I believe this wasn't the only test error.

[2016-03-10 16:21] brianrob commented on #75
Do we believe that all of this work needs to be done in aspnet, or that some of it should be part of the CLI?  I could believe that everything except for view pre-compilation could be done in the CLI.

[2016-03-10 16:41] davidfowl commented on #75
Some of these require CLI features others don't. We're working on the shared framework story where that will always be crossgen'd. The other scenario is for standalone apps, which is all we have at this very moment. For those, we want to add a `--crossgen` flag to publish in the CLI to enable crossgen of the standalone applications.

The cache is a separate thing that can be done by us. We did it

[2016-03-10 16:42] davidfowl commented on #75
There's also the question of how we should be doing IBC this time around. Before we used to do it all but i don't think we wanted to do that going forward.

/cc @troydai since he did most of the IBC work previously

[2016-03-10 19:14] brianrob commented on #75
Is there a reason that we wouldn't crossgen by default even for standalone apps?  The cost on coldstart of JIT compilation is significant.  We already make is a requirement for mscorlib by shipping its native image OOB.  I'd like to say that we crossgen as much as we can by default, and choose not to when things like size on disk become a blocker (and I'm not sure that it would be).

[2016-03-10 19:36] brianrob commented on #75
I think we should do the measurements and find out.  The size will be bigger for sure - but there's also a question of whether or not we need to actually ship the IL assemblies along with the native images.  The IL is duplicated in the native images and so that's where you're guaranteed 2X.

In any case, I think we should see the data before we pick a default.

[2016-03-18 16:04] SajayAntony commented on #89
Have you updated the test with all your fixes?

[2016-03-21 22:20] DavidObando opened #101 "Build gets stuck"
The build process appears to run tests successfully but then dotnet.exe keeps running and fails to exit, making builds in Appveyor fail due to timeout. The last thing printed in the build log is:
[code]

In my local dev machine dotnet.exe is staying in memory, so the issue is reproducible. I created a minidump and here's what I saw:
[code]

As you can see Microsoft.DotNet.Cli.Utils.Command.Execute

[2016-03-21 22:26] DavidObando commented on #101
This is probably something about this repo's code. Other repos are passing the build normally.

[2016-03-23 16:37] DavidObando opened #105 "Analyze if MultipartPost should use the async form reading API"
It currently only uses the synchronous form reading API.

[2016-03-24 17:03] DavidObando opened #107 "Evaluate tests dependency on dnx"
## Expected
Tests that publish and run projects succeed, and execute well.

## Observed
These tests deploy via `dnu.cmd` and execute via `dnx.exe`. We're depending on dnx being installed in the build machine, but dnx is currently not there. The appveyor build logs show this error:

[code]

Basically what's happening is that class `Benchmarks.Utility.Helpers.DnxHelper` attempts to find `dnu.cmd` an

[2016-03-24 23:22] DavidObando commented on #101
One of the tests is executing a website (via `dnx run` or `dotnet run`, as [seen here](https://github.com/aspnet/Performance/blob/dev/test/Microsoft.AspNetCore.Tests.Performance/WebPerformance.cs#L186)) but the execution doesn't seem to die.

I'll take a look at this soon,

[2016-03-25 07:08] DavidObando commented on #101
I found why it's stuck. To repro, do:
  1. cd test\Microsoft.AspNetCore.Tests.Performance
  2. dotnet restore
  3. dotnet build
  4. dotnet test

At the end, we're stuck waiting for the child process. The process we're waiting for in this case is `BasicKestrel.exe`. When I go to task manager and kill `BasicKestrel.exe`, immediately `dotnet.exe` ends.

The code that's causing this goes as follows.

[2016-03-25 07:10] DavidObando commented on #101
Hey @pranavkm, is this issue related to dotnet/cli#1805? (please read the fine print in the comment right above this one).

[2016-03-25 07:15] DavidObando commented on #101
This issue is related to dotnet/cli#1327.

[2016-03-25 07:18] davidfowl commented on #101
You should be able to use this helper to kill the process tree https://github.com/aspnet/Common/blob/dev/src/Microsoft.Extensions.Process.Sources/ProcessHelper.cs#L17.

e.g. https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Server.Testing/project.json#L20

https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Server.Testing/Deployers/ApplicationDeployer.cs#L106

[2016-03-25 07:19] DavidObando commented on #101
@davidfowl thanks!!!

[2016-03-30 22:40] DavidObando opened #112 "Test BasicKestrel_DotNet_ProductionScenario requires attention"
The test [`BasicKestrel_DotNet_ProductionScenario`](https://github.com/aspnet/Performance/blob/dev/test/Microsoft.AspNetCore.Tests.Performance/WebPerformance.cs#L73) deploys BasicKestrel and then sends a Ctrl+C in order to kill the process. It will then wait for up to 30 seconds and fail the test if the process hasn't exited after the time span.

Because of bug dotnet/cli#1327, this test has unrea

[2016-03-30 22:42] DavidObando commented on #112
Perhaps the required change is simply to kill the process tree instead of sending Ctrl+C, and not asserting.

[code]

Becomes:
[code]

[2016-03-30 23:42] DavidObando opened #113 "Ensure uses of `dotnet restore` specify the RID"
This is to be evaluated after the move to dotnet 2111.

Given the latest changes towards a shared framework, we'll need to provide the supported RIDs in `project.json` or send `--infer-runtimes` to the command line.

[2016-03-31 17:32] DavidObando opened #114 "Consider disabling IIS deployment scenario tests"
IIS scenario tests are failing due to IIS Deployer not being actively maintained. Here's the error we're getting:

[code]

It's not being used in any of the product's automated tests since it requires running the process with admin rights, see aspnet/Hosting#684.

Consider disabling these tests **for now**. The team might fix the IIS Deployer, which would allow us to keep running these tests in th

[2016-04-02 22:28] DavidObando opened #116 "Remove use of missing type StaticAssemblyProvider"
Change aspnet/Mvc@f638c05 removed type StaticAssemblyProvider and changed the way DNX works to use application parts. This breaks compilation of [test\TestApp.Test](https://github.com/aspnet/Performance/tree/dev/test/TestApp.Test).

/cc @javiercn @NTaylorMullen

[2016-04-02 22:39] javiercn commented on #116
I’ll take a look

From: David Obando [mailto:notifications@github.com]
Sent: Saturday, April 2, 2016 3:28 PM
To: aspnet/Performance <Performance@noreply.github.com>
Cc: Javier Calvarro Nelson <jacalvar@microsoft.com>
Subject: [aspnet/Performance] Remove use of missing type StaticAssemblyProvider (#116)

Change aspnet/Mvc@f638c05<https://github.com/aspnet/Mvc/commit/f638c05> removed type StaticAsse

[2016-04-04 22:04] DavidObando opened #118 "Newtonsoft.Json version conflict at runtime"
Project test/TestApp.Test is throwing at runtime due to Microsoft.Extensions.DependencyModel requiring Newtonsoft.Json version 7.0.1, while the project is using version 8.x. Issue dotnet/cli#1233 tracks the version change required for these tests to work again.

[code]

When I force the executing project to load Newtonsoft.Json version 7.0.1, I get a different exception:
[code]

[2016-04-04 22:10] DavidObando opened #119 "Benchmarks framework isn't working after move to shared framework"
It appears that our move to a shared runtime broke the benchmark test discoverer or changed the way xUnit tests are picked up. I haven't confirmed this issue is related to the change to the shared framework, I'm just assuming it is as it was working well last week and no additional code changes were checked in.

We're seeing that tests marked with `[Fact]` or `[Theory]` are being picked up, but te

[2016-04-04 22:12] DavidObando commented on #114
Issue has been fixed, will verify soon. Currently blocked by issues related to move to shared framework.

[2016-04-04 22:15] DavidObando commented on #118
@Eilon seeing you foresaw issues like this one when you logged dotnet/cli#1233, what do you think we can do in the meantime to get unblocked?

/cc @sivagms

[2016-04-04 22:16] DavidObando commented on #85
Closing, not repro anymore.

[2016-04-04 22:16] #85 closed

[2016-04-04 22:17] DavidObando commented on #84
This has been resolved, not repro anymore.

[2016-04-04 22:17] #84 closed

[2016-04-04 22:25] NTaylorMullen commented on #119
Interesting. Does this also occur when you do `dotnet test` at the command line.?

[2016-04-04 22:29] DavidObando commented on #119
Here's what I see when I do `dotnet test`
[code]

If you want to play with this and have issues building stuff, I recommend you start from the changes I've done in branch [daobando/testfixes](https://github.com/aspnet/Performance/tree/daobando/testfixes).

[2016-04-06 15:42] nathana1 opened #120 "ideal processor being set on threads on TechEmpower hardware"
The gc is setting the ideal processor for the various threads mostly to processor zero, so that increases scheduling costs and means many threads are running on the opposite numa node.

[2016-04-06 20:36] Eilon commented on #118
Hmm, why is this only causing an error in your case? Wouldn't the same issue prevent any ASP.NET Core app from working? What are the differences?

[2016-04-07 06:07] DavidObando opened #121 "BasicApi tests fail as they aren't getting a bearer token first"
Changes in BasicApi require this test to first obtain a bearer token and then execute the desired test.

For reference see [testapp/BasicApi/loadtest.ps1](https://github.com/aspnet/Performance/blob/dev/testapp/BasicApi/loadtest.ps1).

[2016-04-12 20:15] DavidObando commented on #119
@moozzyk is this related to what you mentioned today during standup?

[2016-04-12 20:18] moozzyk commented on #119
@DavidObando - I think it's different. In my case runtime could not be found at all because I changed tests and tools to be netcoreapp1.0.

[2016-04-12 23:41] mnltejaswini opened #125 "Optimize processing of indexer expressions in ExpressionHelper.InsertIndexerInvocationText"
In a scenario with several indexers in HtmlHelpers or TagHelpers,  ExpressionHelper.InsertIndexerInvocationText is invoked to resolve the value of each indexer. This is done using CachedExpressionCompiler.Process. This is fairly expensive as it goes through the CompileSlow path causing the expression to be compiled each time.

![image](https://cloud.githubusercontent.com/assets/8011073/14478729/43

[2016-04-12 23:43] mnltejaswini commented on #125
Accidentally created in Performance  repo, should be in Mvc repo.

[2016-04-12 23:43] #125 closed

[2016-04-12 23:44] DavidObando commented on #118
The issue went away, closing.

[2016-04-12 23:54] mnltejaswini commented on #57
The only item remaining under this issue is related to ErrorsOrder class. AS per the current MVC repo, this class no longer exists. All other fixes proposed in this issue are done and hence closing this issue.

[2016-04-12 23:54] #57 closed

[2016-04-13 17:33] DavidObando commented on #118
Oh, spoke too soon. It's still there.

[2016-04-13 17:39] davidfowl commented on #118
Something isn't right. What @Eilon said makes sense. This app shouldn;t be special unless something was explicitly downgrading to 7.0.1 and dotnet restore would tell you if that was the case.

[2016-04-13 17:39] DavidObando commented on #118
I'm currently investigating.

[2016-04-13 17:54] davidfowl commented on #118
@DavidObando use the lock file 😄

[2016-04-13 18:16] DavidObando commented on #118
According to my lock file, this dependency chain leads to 7.0.1:
[code]

While this one leads to 8.0.3:
[code]

The project is `test\TestApp.Test` which aggregates some of the apps under `testapp` by referencing them as dependencies, and then instantiates them as test servers.

I'm not sure if this was happening before or not, since this repo isn't really building. I stumbled upon this in [a branc

[2016-04-13 18:51] Eilon commented on #118
You have RC2 and RC3 packages in the first example. MS.Extensions.DependencyModel is RC2, but everything else is RC3. Can't mix those.

[2016-04-13 20:20] DavidObando commented on #118
Is there a way to control the RC2 vs RC3 issue? My project just wants to pull `"Microsoft.AspNetCore.Mvc": "1.0.0-*"`, those dependencies are what I'm being served by the feeds. I tried cleaning my nuget caches, and also in a clean machine, got the same results every time.

[2016-04-13 21:35] Eilon commented on #118
You might have `aspnetvnext` or `aspnetcidev` in your feed list, which has RC3 (this will be RTM). You need to use a release feed if you want RC2, or a dev feed if you want RC3/RTM.

[2016-04-15 23:12] shhsu opened #127 "Roslyn libraries out of sync"
Currently NetCore runtime resolves to "Microsoft.NETCore.App/1.0.0-rc2-24008" which uses an older version of Roslyn libraries. This is causing Microsoft.CodeAnalysis.CSharp.dll and Microsoft.CodeAnalysis.dll being copied over even if shared framework is specified in user app. This will slow down user's app start up.

      "Microsoft.NETCore.App/1.0.0-rc2-24008": {
        "type": "package",

[2016-04-16 02:37] JunTaoLuo commented on #127
Will be fixed in https://github.com/aspnet/CoreCLR/pull/96

[2016-04-16 02:37] #127 closed

[2016-05-02 22:45] SajayAntony commented on #119
Can we close this?

[2016-05-02 22:46] SajayAntony commented on #69
@nathana1 has this been added to the benchmarks repo?

[2016-05-02 22:53] nathana1 commented on #69
Yes, these are in benchmarks.

[2016-05-02 23:49] SajayAntony opened #130 "Add handler based baseline for aspnet"

[2016-05-03 20:59] shhsu commented on #130
Number has been updated on PerfAndReliability.xslx ColdStart worksheet

[2016-05-03 20:59] #130 closed

[2016-05-03 21:21] SajayAntony commented on #130
/cc @sivagms

[2016-05-05 20:20] DavidObando commented on #118
The project was mixing netcoreapp1.0 with DNX. DNX! Dismiss this.

[2016-05-05 20:21] DavidObando commented on #113
Not needed.

[2016-05-05 20:21] #113 closed

[2016-05-05 20:39] DavidObando commented on #121
Addressed by #133

[2016-05-05 20:40] DavidObando commented on #116
Addressed by #133

[2016-05-05 20:40] DavidObando commented on #114
Addressed by #133

[2016-05-05 20:41] DavidObando commented on #112
Addressed by #133

[2016-05-05 20:41] DavidObando commented on #107
Addressed by #133

[2016-05-05 20:41] #101 closed

[2016-05-05 20:44] DavidObando commented on #119
This is the only standing quality issue I haven't attended. Will take a look now.

[2016-05-05 23:23] DavidObando commented on #119
Addressed by #133

[2016-05-06 20:04] #121 closed

[2016-05-06 20:04] #116 closed

[2016-05-06 20:04] #114 closed

[2016-05-06 20:04] #112 closed

[2016-05-06 20:05] #107 closed

[2016-05-06 20:05] #119 closed

[2016-05-08 20:07] DavidObando opened #134 "Build gets stuck in OSX and Linux"
During the execution of the `Microsoft.AspNetCore.Tests.Performance` tests, we get errors like this:
[code]

The test then finishes and shows the summary:
[code]

The `dotnet test` process remains alive. The Activity Monitor shows that there's another instance of `dotnet` currently serving the `BasicKestrel` test from a temporary directory, indicating that the failed test should have been able to

[2016-05-13 20:57] DavidObando opened #138 "Add "publishOptions" to testapp projects that require it"
See dotnet/cli#3029.

A recent change in how the CLI works deprecated the "content" element in project.json and replaced it with "copyToOutput" and "publishOptions". Combined, they do the same as "content", but so far we've only added "copyToOutput".

@SajayAntony @sivagms @martinpf

[2016-05-19 11:42] pantonis commented on #118
I have the same problem now.
Using asp.net core rc2 (.NET Framework) and a windows class library.

This is a link to a test project

https://github.com/pantonis/AspNetRC2EFCore

[2016-05-19 19:18] Eilon commented on #118
@pantonis can you provide more info about what you're seeing? Can you run `dotnet --version` and show us what you see?

[2016-05-19 19:25] pantonis commented on #118
1.0.0-preview1-002702

[2016-05-19 19:31] pantonis commented on #118
and this is where I find the dependency in the project.lock.json

[code]

[2016-05-19 22:48] Eilon commented on #118
What is in your project.json? So far I think that project.lock.json looks fine - everything is using NewtonSoft.Json 7.0.1.

[2016-05-20 05:06] pantonis commented on #118
https://onedrive.live.com/redir?resid=74B6542FA94FAF9E!1599&authkey=!AMAwXQ6VXCCLzJo&ithint=folder%2cjson

[2016-05-21 05:35] pantonis commented on #118
@Eilon you can see the code here. This repo reproduces the problem. https://github.com/pantonis/AspNetRC2EFCore

[2016-05-21 21:26] Eilon commented on #118
@pantonis thanks for sharing the app.

What happens if you update the class lib at https://github.com/pantonis/AspNetRC2EFCore/blob/master/ClassLibrary1/packages.config to point to Newtonsoft.Json 8.0.3? I'm just wondering if that makes the issue go away.

[2016-05-22 05:43] pantonis commented on #118
No same error.

[2016-05-22 22:44] Eilon commented on #118
@pantonis I'm assuming this is the same issue from https://github.com/aspnet/Mvc/issues/4680 ? If so, I'm closing this issue here and we'll continue the discussion in the other issue. Thanks!

[2016-05-22 22:44] #118 closed

[2016-05-23 04:32] pantonis commented on #118
Yes it is thanks

[2016-05-24 16:13] #31 closed

[2016-05-24 16:15] #74 closed

[2016-05-24 16:16] DavidObando commented on #134
Fixed by #139.

[2016-05-24 18:28] #134 closed

[2016-05-24 23:41] #138 closed

[2016-06-06 20:04] DavidObando opened #145 "StarterMvc throws EF exception on startup"
The exception appears to be related to EF migrations. This exception is new since we upgraded the CLI.

This is the exception:
[code]

[2016-06-06 20:04] DavidObando commented on #145
/cc @divega @SajayAntony @sivagms

[2016-06-20 18:49] DavidObando opened #153 "Use IISIntegration Tools"
Currently we have issues when publishing for use in IIS. Net451 creates a non portable EXE file, while netcoreapp1.0 creates a portable, shared-runtime DLL. That means that `web.config` isn't the same on both scenarios.

IISIntegration Tools can help address this. It will generate the correct values for the `web.config` when publishing. It does have a limitation: it assumes that `web.config` lives

[2016-06-20 22:27] moozzyk commented on #153
you can also:
 - write your own tool by copying publish-iis and changing the behavior
 - create a post-postpublish step where you copy the web.config to the right location and fix paths
 - update the publish-iis tool to take an optional parameter which would be the path to put the web.config which would be relative to the approot and take it into account when publishing. (I kind of thought about t

[2016-06-24 15:42] shhsu opened #155 "Add feature to profile the runs on Measure.sh"
In https://github.com/aspnet/Performance/blob/dev/test/ColdStart/Measure.ps1, we have option to profile the runs with wpr or perfview. https://github.com/aspnet/Performance/blob/dev/test/ColdStart/Measure.sh should have similar option. Example of how to do this is in https://github.com/aspnet/Performance/blob/dev/test/ColdStart/PerformTestAndProfile.sh - we should merge the logic in the Measure.sh

[2016-06-24 17:34] shhsu opened #156 "Test Apps do not stop when profiling with -wpr option"
When running test/ColdStart/Measure.ps1 with WPR option, test apps are not properly closed after the end of runs.
This is an issue with little impact as I often measure profiles when I have logged in to the lab machine and I can close them by hand but it would be nice to fix it.

[2016-06-24 17:41] shhsu opened #157 "No password on public repo"
Testing the remotedb cold start scenario involving cloning this branch
https://github.com/aspnet/MusicStore/tree/shhsu/coldstart_remote_sql2016

and fetching this file
https://github.com/aspnet/MusicStore/blob/shhsu/coldstart_remote_sql2016/src/MusicStore/config.json

Note that the lab machine is not in REDMOND domain and the password is not re-used anywhere else. However, this could still be a se

[2016-06-24 21:36] muratg commented on #157
Consider using UserSecrets functionality

[2016-06-24 22:35] SajayAntony commented on #30
@yuwaMSFT closing this since we have done this already.

[2016-06-24 22:35] #30 closed

[2016-06-24 22:36] SajayAntony commented on #89
Closing since we are using the stress app and other to validate and optimize the connection scenarios.

[2016-06-24 22:36] #89 closed

[2016-06-24 22:42] SajayAntony commented on #28
PR - TechEmpower/FrameworkBenchmarks#2079

[2016-06-24 23:47] shhsu commented on #157
My questions are:

1. can ```dotnet user-secrets set --project ???``` be run even if the project.json does not exist? The automation system would only check out the code when the test is being run and the project cannot be assumed to exist prior to the automation run?

2. I tried to run the application in a published directory and I saw the error
 error DOTNET1017: Project file does not exist 'D:\

[2016-06-24 23:50] shhsu commented on #157
seeing the same error even if I just dotnet run on the source directory

Unhandled Exception: System.InvalidOperationException: Unable to locate a project.json at 'D:\git\aspnet\MusicStore\src\MusicStore\bin\Debug\netcoreapp1.0\'.

[2016-06-27 15:41] muratg commented on #157
Yeah both are expected, as we don't carry project.json's with the app anymore. https://github.com/aspnet/UserSecrets/issues/62

We'll need to find another place to store "userSecretsId" key name, though this was punted out of RTM.  In the meantime, you can publish your project.json with the app to get "dotnet run" to work.

Although you should use this only in development scenarios. When running i

[2016-06-27 15:42] muratg commented on #157
@shhsu Ping me if you'd like to get more guidance on how to use this in development/production modes.

[2016-06-27 18:14] shhsu commented on #157
https://github.com/aspnet/MusicStore/commit/f5eda3da44c4262a0c057aed2f0efe9d0e3cd321

Windows scenario works, still trying to get linux scenario working

[2016-06-27 23:01] shhsu commented on #157
OK, it works

I will close the issue and add new instructor to WAVE repro

[2016-06-27 23:27] shhsu commented on #157
My code change seem to work. The rest is actually a WAVE issue. I need to open a bug there

[2016-06-27 23:27] #157 closed

[2016-07-04 13:38] RickStrahl opened #158 "Performance Observations for ASP.NET Core Sample Application"
As per discussion with Damien yesterday I'm posting a few notes regarding performance comparing a specific project I run across ASP.NET Core MVC 6 and MVC 5.

For this performance test I'm using the following repo on Windows:
- [AlbumViewerVNext](https://github.com/RickStrahl/AlbumViewerVNext)

Project is compiled for Release (-c Release), set to Production enviroment and GcServer mode is set to t

[2016-07-19 22:16] dougbu opened #162 "Microsoft.AspNetCore.Tests.Throughput tests do not execute"
This project  lacks `"testRunner": "xunit"` and it is therefore ignored during command-line and VS builds. Unfortunately, it doesn't appear automated testing ever worked: The `BasicThroughputTests` constructor contains multiple assertions that fail without unusual environment variables.

[2016-07-25 20:10] muratg opened #165 "Test Kestrel's ability to handle bursts of new connections being established"
_From @halter73 on February 1, 2016 23:8_

Most of Kestrel's benchmarking so far has focused processing requests as quickly as possible on a fixed number of connections (using wrk). We should also test Kestrel's ability to handle bursts of new connections being established and then also disconnecting under high load.

Possibly related: #604

_Copied from original issue: aspnet/KestrelHttpServer#61

[2016-07-25 20:10] muratg commented on #165
_From @benaadams on February 1, 2016 23:25_

This is a good scenario; fast connection churn is a horrible use-case for aspnet4.5+ websockets (due to native pinning); which is mitigated by using pooled buffers. However; Kestrel shouldn't suffer from this (even in websocket scenario); but it does use pinned buffers so it is a good buffer to confirm.

Also connection+disconnection is heavier weight t

[2016-07-25 20:10] muratg commented on #165
_From @benaadams on February 13, 2016 3:16_

Allocations with 1M non keep-alive connections - load test PR for this https://github.com/aspnet/Performance/pull/48

![no-keepalive-a](http://aoa.blob.core.windows.net/aspnet/no-keepalive-0.png)
![no-keepalive-b](http://aoa.blob.core.windows.net/aspnet/no-keepalive-1.png)
![no-keepalive-c](http://aoa.blob.core.windows.net/aspnet/no-keepalive-2.png)

[2016-07-25 20:10] muratg commented on #165
_From @benaadams on February 13, 2016 3:57_

Breaking out System.Object as its very non-specific

![system-object](http://aoa.blob.core.windows.net/aspnet/system-object.png)

[2016-07-25 20:10] muratg commented on #165
_From @SajayAntony on February 23, 2016 2:3_

@taoliseki #652 might be related to this. Please keep this on your radar.

[2016-07-25 20:10] muratg commented on #165
_From @halter73 on February 29, 2016 20:49_

@mikeharder Not sure you want to take a look at this. It might be better to add these kinds of non-TechEmpower related stress tests/benchmarks to the https://github.com/aspnet/Performance/ repository.

[2016-07-25 20:10] muratg commented on #165
_From @SajayAntony on February 29, 2016 20:51_

@mikeharder - specifically this is where the targeted tests are - https://github.com/aspnet/Performance/tree/dev/testapp

[2016-07-25 20:10] muratg commented on #165
_From @taoliseki on March 1, 2016 18:22_

The scenario we were measuring from perf side is:
1. Constant load: 10k users with 10k persistent connections and 1 request per 10 seconds per user
2. Bursty load: 1k users kick in and leave

For the bursty part, 1k WCAT threads were used to disconnect/reconnect per request during a one-hour time window, which resulted in around 3k connection/disconnection

[2016-07-25 20:10] muratg commented on #165
_From @benaadams on March 2, 2016 6:26_

Probably worth doing some https testing in similar fashion since it is part of the repo.

We did experience memory growth->heavy GC in this area previously (stress testing, not production); but that was prior to the SocketInput memory block release, so hopefully its resolved now.

[2016-07-25 20:10] muratg commented on #165
_From @SajayAntony on March 2, 2016 6:51_

Tao could you also provide the memory foot print and how it varied over time. I think @yuwaMSFT has a neat way to capture this over time.

[2016-07-25 20:10] muratg commented on #165
_From @yuwaMSFT on March 2, 2016 18:7_

For Windows we can collect memory related perf counters.

For Linux we can use top/atop to get the memory foot print over time.

[2016-07-25 20:10] muratg commented on #165
_From @benaadams on March 2, 2016 18:21_

For linux you are probably better using `/proc/xxx` e.g. `/proc/[pid]/status`

http://www.linuxhowtos.org/manpages/5/proc.htm

[2016-10-21 23:23] DamianEdwards opened #174 "Investigate issues highlighted in Go vs. ASP.NET Core blog post"
https://stefanprodan.com/2016/aspnetcore-vs-golang-data-ingestion-benchmark/?utm_source=golangweekly&utm_medium=email

Can we replicate this set up and attempt to understand any potential performance issues in the scenario or the framework. Some particular things to start:
- The reported issued with Server GC/high memory use (are requests starting to queue up?)
- The use of `dynamic` in the back-e

[2016-10-24 16:06] rynowak opened #175 "Investigate startup time on Antares"
We started some investigations of startup time on Antares to determine whether or not the relative cost of the JIT was similar in the Antares (single core, x86, slow network drive) environment to what we had seen on developer boxes (multicore, x64, local drive).

Originally what we measured is that with the Shared Framework and ASP.NET crossgen-ed that JIT time is a much more significant factor of

[2016-10-24 16:06] rynowak commented on #175
Assigned to @troydai as he's already been driving this

[2016-10-24 16:10] rynowak opened #176 "Investigate startup time as a whole across common scenarios"
We want to do an investigation to determine the source of delay in the startup time of an ASP.NET Core application. We want to use the aspnet/JITBench flavour of MusicStore as the JIT team has already been using it for investigations.

We should measure the wall clock time from a beginning _user action_ and determine what significant steps take place and how long they take. This adds context any w

[2016-10-24 16:11] rynowak commented on #176
Assigned @kichalla since he's already been driving this

[2016-10-24 16:59] rynowak opened #177 "Investigate tradeoffs of buffering vs chunking for JSON"
## Summary

We want to do an investigation to determine the relative costs and benefits of chunking responses vs buffering and setting a content length when we have a unknown amount of dynamic content.

In this case we want to consider serving JSON from MVC. This is a great test case because it's a mainline scenario, the serializer is already well optimized, and the serializer is synchronous. If t

[2016-10-24 17:00] rynowak commented on #177
To better understand and visualize chunking, use https://github.com/cowchimp/chunk-scatter (clone and run locally). This will be useful when it comes to measuring the 'first chunk'

[2016-10-24 17:00] rynowak commented on #177
Assigned to @ajaybhargavb as he's already started on this

[2016-10-24 17:05] rynowak opened #178 "Investigate throughput impact of crossgen"
We need to investigate if/what impact crossgen of the ASP.NET binaries has on runtime throughput. Crossgen (Ready2Run) will eliminate inlining of static call-sites across assembly boundaries.

We need to design a set of experiments that will allow us to determine the impact of this.

[2016-11-04 23:45] mikeharder opened #179 "Investigate performance of JWT Authentication"
- Most common scenario is Web API with JWT Authentication against Azure AD
- Benchmarks: https://github.com/mikeharder/NetCoreAuthPerf

[2016-11-04 23:49] mikeharder opened #180 "Investigate TechEmpower\JSON for Round 14"
- Compare Plaintext/JSON ratio for ASP.NET Core with other frameworks

[2016-11-04 23:51] mikeharder opened #181 "Investigate TechEmpower\Fortunes for Round 14"
- Benchmark ASP.NET Core and other frameworks against Docker\PostgreSQL in perf lab

[2016-11-11 03:08] mikeharder opened #182 "Investigate single-request latency"
The single-request latency of ASP.NET Core is much higher than ASP.NET 4.6:

.NET | Environment | GET (ms) | POST (ms)
--- | --- | --- | ---
Framework | Localhost | 3.33 | 3.57
Core | Localhost | 5.00 | 5.40
Framework | Azure | 6.19 | 6.11
Core | Azure | 13.50 | 10.69

Repro here: https://github.com/mikeharder/AspNetLatency

[2016-11-11 03:24] davidfowl commented on #182
Interesting

[2016-11-11 03:26] davidfowl commented on #182
Why are you doing synchronous reads and writes?

[2016-11-11 03:48] mikeharder commented on #182
The original repro used sync writes, at least for the Framework case.  And I assumed sync would have lower latency which it usually does for single-request tests.  I will compare to async.

[2016-11-11 20:02] mikeharder commented on #182
Console logging was enabled for the Core application, which adds considerable latency.  Filed issue to consider reducing console logger latency: https://github.com/aspnet/Logging/issues/515

With logging disabled, or using serilog to write to a file (https://github.com/aspnet/Logging/issues/441#issuecomment-254405907), latency is about the same between Core and Framework.

[2016-11-11 20:02] #182 closed

[2016-11-16 16:41] DamianEdwards opened #183 "Investigate performance of Fortunes against SQL Server for Linux"
Let's get numbers for Fortunes running on Linux against SQL Server for Linux (Linux front-end and back-end). Interested in how it compares to the PostgreSQL version.

[2016-11-19 00:13] Eilon commented on #175
@rynowak please do the needful.

[2016-11-19 00:36] rynowak commented on #175
We did this and found nothing super significant here, the JIT is working as intended

[2016-11-19 00:36] #175 closed

[2016-11-23 16:34] rynowak opened #184 "Add E2E scenario test: MusicStore"

[2016-11-23 16:35] rynowak opened #185 "Add E2E scenario test: Resource Provider"
We want to work with the the cache team to get usage and frequency data about their RP
  - Usage patterns
  - Frequency of various HTTP endpoints being called
  - General shape of API
  - Data Sizes

Then, we want to turn this into an end to end test for the full stack

[2016-11-28 23:38] mikeharder opened #186 "Measure performance behind proxies"
# Hosting Models
* Windows Server 2016
  * Kestrel
  * WebListener
  * IIS + ANCM + Kestrel (https://docs.microsoft.com/en-us/aspnet/core/publishing/iis)
* Ubuntu 16.04
  * Kestrel
  * nginx + Kestrel (https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction)
  * haproxy + Kestrel (future)
  * apache + Kestrel (future)

# Benchmarks
* Plaintext (pipeline = 16)
* Plaintext (no pipeli

[2016-11-28 23:41] mikeharder opened #187 "Add scenario for ResponseCompression middleware"
Add one or more scenarios for the ResponseCompression middleware to the automated tests.

[2016-12-09 19:15] mikeharder opened #188 "Investigate non-2XX responses in /updates/ef benchmark"
Small number of non-2XX responses in dev branch, much larger number in PR 157 which is blocked until this is understood.

[2016-12-12 15:26] BrunoMVPCosta commented on #174
I'm very curious about the output of this investigation. This can be a showstopper when trying to make a company adopting the new ASP.NET Core.

Do you think you will work on it in any time soon?

[2016-12-14 19:15] mikeharder opened #189 "Investigate why MusicStore home page cannot saturate CPU"
The MusicStore home page is unable to reach 100% CPU on the web server, with either the in-memory or external SQL DB options.  Tested on a trio of Azure F4 VMs:

DB | RPS | Web Server CPU | DB CPU
------------ | ------------- | ------------ | -------------
In-Memory | 2500 | 85% | N/A
SQL (separate VM) | 900 | 60% | 8%

Next step is to collect and analyze a profile.

[2016-12-14 19:17] mikeharder commented on #188
Found 3 separate issues:
* https://github.com/aspnet/benchmarks/issues/162
* https://github.com/aspnet/benchmarks/issues/163
* https://github.com/aspnet/benchmarks/pull/157#issuecomment-266596216

[2016-12-14 19:17] #188 closed

[2016-12-15 23:55] mikeharder commented on #189
Fixed by enabling Server GC (https://github.com/aspnet/MusicStore/pull/731).

[2016-12-15 23:55] #189 closed

[2017-01-05 02:13] mikeharder opened #190 "Update packages to 1.1.0 in TechEmpower repo"
* [x] Update packages from 1.0.0 to 1.1.0
* [x] Remove wildcards from all versions
* [x] Update `dotnetcore` install script to 1.1
* [x] Measure throughput before/after change
  * I measured Plaintext, JSON, Fortunes/Raw, and Fortunes/EF, with and without MVC.  Throughput was within 5% for all scenarios.

[2017-01-05 02:14] mikeharder opened #191 "Make scripts executable in TechEmpower repo"
The linux scripts need to be marked as executable in Git.

[2017-01-05 02:19] mikeharder opened #192 "Update README.md in TechEmpower repo"
* [x] Currently indicates only Plaintext and JSON are supported.  Update with Fortunes and DB tests.

[2017-01-05 02:53] mikeharder opened #193 "Remove dependency on mono/net451 from TechEmpower repo"
* [x] Remove "net451" so the project can be built and run without .NET Framework or Mono installed
* [x] Remove mono dependency from run-linux.sh

[2017-01-05 06:44] mikeharder opened #194 "Change TechEmpower to use `dotnet Benchmarks.dll` rather than `dotnet run`"
The TechEmpower scripts currently use `dotnet run`, which is not intended for production.  They should be changed to use `dotnet Benchmarks.dll`.

[2017-01-05 07:04] mikeharder opened #195 "Update PostgreSQL connection string in TechEmpower repo"
The PostgreSQL connection string in the TechEmpower repo currently uses `persistprepared=true`, which is no longer valid after https://github.com/npgsql/npgsql/commit/7be0ec391fb0c0ae54d5655d6f4ad6916b18887c.  It appears the fix may be to simply remove this parameter from the connection string, since npgsql will not automatically persist the prepared statement.

[2017-01-06 19:39] mikeharder opened #196 "Measure throughput without reusing connections"
Our existing thoughput tests execute many requests over a small number of long-lived connections.  We should also test clients which execute one request per connection, to measure the overhead of establishing connections.  This is especially important when using HTTPS.

It should be sufficient to test a single scenario without pipelining, like JSON (both HTTP and HTTPS).

A challenge with short-li

[2017-01-06 22:26] mikeharder commented on #28
I assume this is done.

[2017-01-06 22:26] #28 closed

[2017-01-07 01:36] mikeharder opened #197 "Measure TechEmpower throughput with /debug+ and /optimize+"
When building `/c Release`, the options passed to csc are `-optimize -debug:full`.  We want to compare the throughput of these options with `-optimize -debug+ -debug:full`, which enables a different type of JIT optimizations.

# Baseline
* `dotnet build -c Release`

# Test
* `dotnet -v build -c Release --no-incremental`
  * Prints `Running C:\Program Files\dotnet\dotnet.exe "C:\Program Files\dotne

[2017-01-07 02:20] mikeharder commented on #197
I ran our benchmarks on Linux with and without `-debug+`.  I verified the assembly created with `-debug+` is approximately 1kb larger:

[code]

There was no significant difference in runtime performance (throughput) between these two assemblies:

Hardware: E5-1650 v3
OS: Ubuntu 16.04 LTS

Scenario | Threadcount | -optimize -debug:portable | -optimize -debug+ -debug:portable | Change
-- | -- | -- |

[2017-01-07 02:20] #197 closed

[2017-01-09 22:00] DamianEdwards opened #198 "Try JSON benchmark using JIL 2.15"
They added .NET Core support, would be good to see their perf impact vs. JSON.NET in our JSON benchmark.

[2017-01-09 23:35] mikeharder opened #199 "Investigate TechEmpower Dapper failures"
According to https://github.com/TechEmpower/FrameworkBenchmarks/pull/2483#issuecomment-271098675, the aspnetcore Dapper scenarios are no longer working.

[2017-01-09 23:57] mikeharder commented on #199
On my machine, the Dapper scenarios are working both before and after the update to .NET Core 1.1.

[2017-01-09 23:57] #199 closed

[2017-01-10 05:54] mikeharder opened #200 "Non-2xx or 3xx responses in MvcFortunesEF"
# Repro Steps
1. Run MvcFortunesEF on an Azure F4 VM (Windows Server 2016), with another Azure F4 VM running SQL Server (Windows Server 2016).
2. Run `wrk -c 256 -t 32 -d 10 http://server:8080/mvc/fortunes/ef` from another Azure F4 VM (Ubuntu Server 16.04 LTS).

There will sometimes be 1 "non-2xx or 3xx" response.

[2017-01-10 23:11] mikeharder commented on #195
Merged: https://github.com/TechEmpower/FrameworkBenchmarks/pull/2483

[2017-01-10 23:11] #195 closed

[2017-01-10 23:12] mikeharder commented on #194
Merged: https://github.com/TechEmpower/FrameworkBenchmarks/pull/2483

[2017-01-10 23:12] #194 closed

[2017-01-10 23:12] mikeharder commented on #193
Merged: https://github.com/TechEmpower/FrameworkBenchmarks/pull/2483

[2017-01-10 23:12] #193 closed

[2017-01-10 23:12] mikeharder commented on #192
Merged: https://github.com/TechEmpower/FrameworkBenchmarks/pull/2483

[2017-01-10 23:12] #192 closed

[2017-01-10 23:12] mikeharder commented on #191
Merged: https://github.com/TechEmpower/FrameworkBenchmarks/pull/2483

[2017-01-10 23:12] #191 closed

[2017-01-10 23:12] mikeharder commented on #190
Merged: https://github.com/TechEmpower/FrameworkBenchmarks/pull/2483

[2017-01-10 23:12] #190 closed

[2017-01-18 19:29] mikeharder opened #201 "Compare PostgreSQL with Npgsql against Microsoft SQL Server"
Compare the performance of PostgreSQL with Npgsql against Microsoft SQL Server, using our TechEmpower scenarios.

[2017-01-18 19:31] mikeharder opened #202 "Update TechEmpower to use Npgsql 3.2.0 beta1"

[2017-01-18 22:46] mikeharder commented on #174
* [ ] Benchmark Ubuntu 14.04 LTS
* [ ] Benchmark ASP.NET Core app on Windows Server 2016
* [ ] Compare HttpClientSlim to HttpClient

[2017-01-18 23:05] roji commented on #201
Just as a reminder, don't forget to turn on Npgsql automatic preparation when benchmarking Entity Framework. It's also recommended to set `No Reset On Close` for all scenarios.

[2017-01-19 01:50] mikeharder commented on #202
Merged: https://github.com/TechEmpower/FrameworkBenchmarks/pull/2509

[2017-01-19 01:50] #202 closed

[2017-02-01 21:08] dougbu opened #204 "Remove workaround for dotnet/core-setup#1221"
Commit 7548775 adds a workaround for dotnet/core-setup#1221. Currently cannot load the test assembly without this. Once the external bug is fixed, revert this commit.

See similar "should be reverted" bugs for the same issue: aspnet/Entropy#186 and aspnet/Localization#310.

[2017-02-02 20:15] dougbu opened #205 "Upgrade to VS 2017"
We need to upgrade our repos to VS2017. That is, we need to migrate from project.json files to MSBuild.

This is part of the https://github.com/orgs/aspnet/projects/1 umbrella. See also related work in aspnet/Universe#469 and aspnet/benchmarks#181.

[2017-02-12 05:42] dougbu opened #207 "Follow up on conversion to MSBuild project system"
Commit 92e0deb left a few rough edges and untested area that we should address relatively soon:
- fix xplat failures of the `stress-test` target
  - .NET 4.5.1 stress tests attempt to run on Linux and fail
[code]
  - .NET Core tests attempt to run full desktop servers and those depployments fail
[code]
- fix web site execution in IIS; definitely need more `UseIISIntegration()` calls
  - some sites

[2017-02-12 05:44] dougbu commented on #205
- 92e0deb
- adjusted to `AddUserSecrets()` obsoletion in e47ec2a
- some follow-ups filed in issue #207

[2017-02-12 05:44] #205 closed

[2017-02-12 05:53] dougbu commented on #207
Noticed the first couple of items in the list above while converting to MSBuild project system. But, they were likely problems before then.

[2017-02-12 21:10] dougbu opened #209 "Investigate occasional EBUSY failures during Microbenchmarks.Tests"
Every few runs of Microbenchmarks.Tests fail with the following output:
[code]

The above occurred while `Calibration_100ms()`, `TagHelperResolution(designTime: True)`, and `MainToConfigureOverhead(variationServer: "Microsoft.AspNetCore.Server.HttpSys")` tests were running in parallel in a .NET Core run. I'm not sure whether EBUSY errors are specific to this part of the run. Might occur during des

[2017-02-13 18:53] halter73 commented on #209
This seems like a dup of https://github.com/aspnet/KestrelHttpServer/issues/1231. Thanks for identifying another scenario where this occurs.

[2017-02-14 03:39] GuardRex commented on #186
We're showing devs with IIS/ANCM how to setup IIS with the default IIS module configuration in the *Publishing to IIS doc*. There's a new doc on the horizon that deals with IIS Modules in more detail, including some notes on disabling modules.

The minimal module configuration is to only have the Anonymous Authentication Module and the ANCM configured. I wonder ... and I think other admins will wo

[2017-03-03 23:52] mikeharder commented on #178
@BrennanConroy: I will work with you to describe the work and help run Benchmarks.

[2017-03-03 23:54] mikeharder commented on #178
- [ ] OS: Windows
- [ ] Scenarios: Plaintext, JSON

[2017-03-13 17:20] CodingSamurai commented on #198
Were there any results from this test?

[2017-03-20 19:53] muratg opened #212 "Investigate performance of Post in Kestrel"
See: https://github.com/aspnet/KestrelHttpServer/issues/1319

[2017-03-22 22:50] mikeharder opened #213 "Investigate TechEmpower Round 14 Preview 1"
TechEmpower has posted results for Round 14 Preview 1:

* Announcement: https://groups.google.com/forum/#!topic/framework-benchmarks/sQDY1uELRkY
* Round 13: https://www.techempower.com/benchmarks/#section=data-r13
* Round 14 Preview 1: https://www.techempower.com/benchmarks/previews/round14/
* Round 13 vs Round 14: https://www.techempower.com/benchmarks/previews/round14/r13-vs-r14p1.html

The main

[2017-04-10 15:39] Eilon opened #217 "Remove references to Microsoft.DotNet.InternalAbstractions"
Microsoft.DotNet.InternalAbstractions was refactored and renamed as part of 1.1 to Microsoft.DotNet.PlatformAbstractions. We should update our code to no longer reference this package:

https://github.com/aspnet/Performance/search?utf8=%E2%9C%93&q=Microsoft.DotNet.InternalAbstractions&type=

[2017-04-19 21:51] cesarbs opened #222 "Test to ensure multiple concurrent HTTPS connections has adequate performance"
_From @mikeharder on May 3, 2016 22:38_

Draft: https://github.com/mikeharder/KestrelHttpServer/tree/mikeharder/https-parallel-test

_Copied from original issue: aspnet/KestrelHttpServer#798_

[2017-04-19 21:51] cesarbs commented on #222
Shouldn't we just keep track of the numbers with HTTPS in our benchmarks automation? I don't think this belongs in a Kestrel test.

[2017-04-19 21:51] cesarbs commented on #222
_From @mikeharder on February 17, 2017 18:52_

This is about the performance of establishing HTTPS connections, which isn't directly tested by existing benchmarks automation since it establishes connections once and re-uses them.  But I would be fine moving this bug to the Performance repo and treating it as a perf test rather than a unit test.  Measure the time to establish N HTTPS connections.

[2017-04-19 21:51] cesarbs commented on #222
_From @Drawaes on February 17, 2017 19:14_

This is important for a couple of reasons. Https is becoming critical even inside companies with service 2 service calls. Next techempower have it on their future tests list.

Remember that using SSLStream can give false numbers or changing numbers depending on system settings. I can give a little bit of advice if anyone is interested

[2017-04-21 23:16] #213 closed

[2017-04-22 20:38] dougbu commented on #217
a1ef01d

[2017-04-22 20:38] #217 closed

[2017-04-28 22:26] DamianEdwards opened #224 "Do performance run for May 2017 patch release"
Compare following scenarios for 1.0.0 & 1.1.0, 1.0.4 & 1.1.1, and 1.0.5 & 1.1.2
Get RPS, latency, and error rate:
- TechEmpower Plaintext
- TechEmpower JSON
- TechEmpower Fortunes

[2017-04-28 22:39] DamianEdwards opened #225 "Get perf baseline for all middleware when in pipeline but request is passed through (no-op)"
Get perf regression from baseline of TechEmpower Plaintext, which each of the following middleware in the pipeline (by itself) running in no-op/pass-through mode:
- ExceptionHandler
- Rewrite
- Authentication
- StaticFiles
- Routing
- WebSockets
- ResponseCaching
- Session
- ResponseCompression
- CORS
- Localization

[2017-04-28 22:42] DamianEdwards opened #226 "Add Linux web tier machines to SmurfLab"
Configure the extra machines with Linux and update automation infrastructure (data capture, reporting, etc.) to allow recording and displaying automation results when run on Linux servers.

[2017-04-28 22:44] DamianEdwards opened #227 "Update automation environment to support running TechEmpower DB scenarios and Windows & Linux"

[2017-04-28 23:05] DamianEdwards opened #228 "Update TechEmpower to 2.0.0-preview1 release"
.NET Core runtime & all packages

[2017-04-28 23:07] DamianEdwards commented on #225
@mikeharder can you update the infrastructure to support this in a way you like

[2017-05-10 22:36] dougbu commented on #228
Branch available at https://github.com/aspnet/FrameworkBenchmarks/tree/dougbu/update.net.core. Will submit PR to TechEmpower once @mikeharder gives it the once-over 🔂 (not a big rush).

[2017-05-11 22:32] dougbu commented on #224
Will fill in the blanks:

| | scenario | URL path | CPU% | RPS | latency | errors | timeouts |
| ----- | -------- | -------- | -------- | -------- | -------- | -------- | -------- |
| 1.0.0 | plaintext | /plaintext | | | | | |
| 1.0.4 | plaintext | /plaintext | | | | | |
| 1.0.5 | plaintext | /plaintext | | | | | |
| 1.1.0 | plaintext | /plaintext | | | | | |
| 1.1.2 | plaintext | /plaintext | | |

[2017-05-16 04:14] dougbu commented on #224
Updated table after adjusting system settings and enabling HTTP pipelines:

| Version | Scenario | URL | RPS | % original | CPU | latency (ms) | timeouts |
| ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |
| 1.0.0 | plaintext | /plaintext | 1109665.58 | 100.00% | 69.20 | 5.17 | 3043 |
| 1.0.4 | plaintext | /plaintext | 1130025.27 | 101.83% | 69.40 | 5.21 | 804 |
| 1.0.5 | plaintext | /plai

[2017-05-17 20:27] DamianEdwards opened #232 "Investigate ideas for improvement of throughput when running on CrossGen'ed runtime store bits"

[2017-06-02 23:31] dougbu opened #236 "Further optimize TechEmpower database scenarios"
After we submit aspnet/FrameworkBenchmarks#3 to TechEmpower, we likely have further low-hanging fruit for optimizing database scenarios. Some thoughts:
- What is the best `MaxBatchSize()` value for the MvcDbFortunesEf scenairo? Do we need to override the default at all?
  - Either way, remove the `_useBatchUpdates` hack from `EfDb` -- just remove it or replace it with a `MaxBatchSize()` call.
- Ch

[2017-06-06 20:03] dougbu commented on #224
Latest RPS numbers, now with 2.0.0-preview1:

| Version | Scenario | RPS | % original |
| ---- | ---- | ---- | ---- |
| 1.0.0 | plaintext | 481691.89 | 100.00% |
| 1.0.4 | plaintext | 474618.77 | 98.53% |
| 1.0.5 | plaintext | 486057.12 | 100.91% |
| 1.1.0 | plaintext | 428303.46 | 88.92% |
| 1.1.2 | plaintext | 438930.29 | 91.12% |
| 1.1.3 | plaintext | 430435.48 | 89.36% |
| 2.0.0-preview1 | pla

[2017-06-06 20:04] #224 closed

[2017-06-12 19:18] dougbu commented on #228
TechEmpower/FrameworkBenchmarks@70a2dac663

[2017-06-12 19:18] #228 closed

[2017-06-27 01:48] adallow commented on #174
What was the outcome of this, where those results correct, can you share your thoughts?

[2017-09-05 08:41] chintan3100 opened #246 ".net core Performance issue with stream download"
I am downloading 400 MB file on local machine with 7 MB/Second (.net core 2.0) same code run with .net framework 4.6 download speed 100 MB/Second.

  public IActionResult DownloadDocument(Guid documentUniqueId)
        {
            var bytes = System.IO.File.OpenRead(@"D:\home\site\wwwroot\file\Organizer01_2017-09-03 (14) (3).zip");
            return File(bytes, "application/octet-stream");

}

[2017-10-03 11:59] gulbanana commented on #212
from that issue - i have a reliable but complex repro where kestrel POST is extremely slow to read the request body. performance is fine in behind iis express in visual studio.

i've tracked it down to this point:
`Request.Body.CopyToAsync(new MemoryStream())`
takes a fixed ~160ms when running kestrel under netcoreapp2.0 in azure app service.

here's the body of the request, which is a multipart f

[2017-12-01 05:23] glennc opened #249 "Inner loop performance improvements"
Inner Loop: The loop that spans ideation* through code commit, and most often centers on an engineer writing the code for a given feature. Because engineers require an idea from which to design and build a feature, this loop also includes prototyping, crowd-sourced feature engagement and feasibility studies.
*Yes, ideation is a word and I learnt it when finding this definition

Outer Loop: This is

[2018-03-01 19:06] #198 closed

[2018-03-01 19:08] #183 closed

[2018-03-01 19:08] #200 closed

[2018-03-01 19:08] #227 closed

[2018-03-31 17:12] bangbingsyb commented on #186
There is a big problem of the minimum module configuration proposed here, and only including AnonymousAuthenticationModule and the ANCM will make the performance much worse than the default applicationHost.config in a synthetic benchmark using a very simple app.

The reason is the missing of UriCacheModule in this configuration. UriCacheModule doesn't have any configuration you can set, so people

[2018-03-31 17:24] guardrex commented on #186
Thanks @bangbingsyb ... We'll talk about it over on https://github.com/aspnet/Docs/pull/2609.

[2018-04-04 15:12] guardrex commented on #186
Note for this issue if testing includes a suite where the minimum module config is checked vs. the default module config: We've updated the topic. https://github.com/aspnet/Docs/pull/5873 (should merge around 4/6/2018) https://docs.microsoft.com/aspnet/core/host-and-deploy/iis/modules#minimum-module-configuration

[2018-04-25 05:29] DamianEdwards commented on #249
I think it's safe to close this for 2.1 now.

[2018-04-25 05:29] #249 closed

[2018-04-30 19:20] ryanbrandenburg opened #251 "Flaky test: OtherPages_ViewsAreSuccessful"
This test [fails](http://aspnetci/viewLog.html?buildId=457668&buildTypeId=Lite_Public_Performance) occasionally with the following error:
[code]

[2018-08-23 02:04] jakcm opened #253 "Concurrent users over 100, the system will automatically create many Dotnet processes"
ASP.NET CORE program (.NET CORE 2.1+Docker) is deployed in Ubuntu 16.04.4 environment, multi-threaded concurrent, load test, after concurrent users more than 100, the system will automatically create many Dotnet processes to respond to requests, but create And the destruction process is very time consuming, causing many requests to time out.
But there is no problem with more than 1000 concurrent o

[2018-08-29 00:28] natemcmaster commented on #225
_Engineering triage decision:_ this does not appear to be high priority, and we do not plan to address this.

[2018-08-29 00:28] #225 closed

[2018-08-29 00:28] natemcmaster commented on #226
_Engineering triage decision:_ this does not appear to be high priority, and we do not plan to address this.

[2018-08-29 00:28] #226 closed

[2018-08-29 18:42] mikeharder commented on #253
@jakcm: Do you know how the additional dotnet processes are being created?  Can you please share the Dockerfile for your application?

The [recommended Dockerfile](https://github.com/dotnet/dotnet-docker/blob/master/samples/aspnetapp/Dockerfile) should only ever create a single dotnet process:

[code]

[2018-09-04 09:07] #246 closed

[2018-10-03 20:07] ryanbrandenburg commented on #251
This hasn't recurred and then error message implies it may have been a configuration/machine-state issue. Closing.

[2018-10-03 20:07] #251 closed

[2018-10-18 06:10] aspnet-hello opened #254 "Test failure: OtherPages_ViewsAreSuccessful"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=579961&buildTypeId=Lite_Public_Performance) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC Eilon

[2018-10-18 06:10] aspnet-hello commented on #254
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-18 06:10] aspnet-hello commented on #254
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 2 failures [with about the same error](http://aspnetci/viewLog.html?buildId=579961&buildTypeId=Lite_Public_Performance) on master at 11:00:10 PM:
- OtherPages_ViewsAreSuccessful
- OtherPages_ViewsAreSuccessful

[2018-10-18 17:10] Eilon commented on #254
@sebastienros @dougbu - is the Performance repo still a thing?

[2018-10-18 17:15] sebastienros commented on #254
Not for me

[2018-10-18 20:45] dougbu commented on #254
Turning off builds should be fine. The repo is basically a source of additional performance scenarios we could pick from -- if and when that's interesting.

Archiving the repo may also make sense. It's very doubtful we'll do further work there. Agreed, @rynowak?

[2018-10-18 20:57] rynowak commented on #254
I think the stuff we've done in MVC for perf supersedes this now

[2018-10-18 21:14] Eilon commented on #254
Sounds good.

@dougbu - can you do the needful to disable this on the CI? Then assign back to me and I'll archive this repo.

[2018-10-18 22:51] dougbu commented on #254
Done, reassigned

[2018-10-18 23:05] #254 closed

[2018-10-18 23:13] aspnet-hello commented on #253
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:13] #253 closed

[2018-10-18 23:13] aspnet-hello commented on #236
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:13] #236 closed

[2018-10-18 23:13] aspnet-hello commented on #232
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:13] #232 closed

[2018-10-18 23:13] aspnet-hello commented on #222
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:13] #222 closed

[2018-10-18 23:13] aspnet-hello commented on #212
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:13] #212 closed

[2018-10-18 23:13] aspnet-hello commented on #209
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:13] #209 closed

[2018-10-18 23:13] aspnet-hello commented on #207
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:13] #207 closed

[2018-10-18 23:14] aspnet-hello commented on #204
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:14] #204 closed

[2018-10-18 23:14] aspnet-hello commented on #201
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:14] #201 closed

[2018-10-18 23:14] aspnet-hello commented on #196
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:14] #196 closed

[2018-10-18 23:14] aspnet-hello commented on #187
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:14] #187 closed

[2018-10-18 23:14] aspnet-hello commented on #186
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:14] #186 closed

[2018-10-18 23:14] aspnet-hello commented on #185
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:14] #185 closed

[2018-10-18 23:14] aspnet-hello commented on #184
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:14] #184 closed

[2018-10-18 23:14] aspnet-hello commented on #181
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:14] #181 closed

[2018-10-18 23:15] aspnet-hello commented on #180
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:15] #180 closed

[2018-10-18 23:15] aspnet-hello commented on #179
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:15] #179 closed

[2018-10-18 23:15] aspnet-hello commented on #178
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:15] #178 closed

[2018-10-18 23:15] #177 closed

[2018-10-18 23:15] aspnet-hello commented on #176
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:15] #176 closed

[2018-10-18 23:15] aspnet-hello commented on #174
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:15] #174 closed

[2018-10-18 23:15] aspnet-hello commented on #165
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:15] #165 closed

[2018-10-18 23:15] aspnet-hello commented on #162
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:15] #162 closed

[2018-10-18 23:16] aspnet-hello commented on #158
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:16] #158 closed

[2018-10-18 23:16] aspnet-hello commented on #156
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:16] #156 closed

[2018-10-18 23:16] aspnet-hello commented on #155
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:16] #155 closed

[2018-10-18 23:16] aspnet-hello commented on #153
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:16] #153 closed

[2018-10-18 23:16] aspnet-hello commented on #120
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:16] #120 closed

[2018-10-18 23:16] aspnet-hello commented on #105
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:16] #105 closed

[2018-10-18 23:16] aspnet-hello commented on #88
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:16] aspnet-hello commented on #76
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:16] #76 closed

[2018-10-18 23:16] aspnet-hello commented on #75
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:17] #75 closed

[2018-10-18 23:17] aspnet-hello commented on #69
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:17] #69 closed

[2018-10-18 23:17] aspnet-hello commented on #68
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:17] #68 closed

[2018-10-18 23:17] aspnet-hello commented on #32
We are closing all the issues in this repo because this repo is no longer in used. Please see the README in this repo for more information.

[2018-10-18 23:17] #32 closed